@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
   body {
     @apply  bg-zinc-900 text-slate-100;
     font-family: var(--font-serif);
   }
 }
 

@theme {
   --color-mint-500: oklch(0.72 0.11 178);

   --color-zinc-900: oklch(14.1% 0.005 285.823);

   /* font stylings */
   --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
   --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
   --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      'Liberation Mono', 'Courier New', monospace;
}
